<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.switchingMethod() === "PLUGIN" && settings.plugins.psucontrol.switchingPlugin() === "psucontrol_jeedom") -->
    <span class="help-inline label label-important">Please set the switching method to <b>PLUGIN</b> and the switching plugin to <b>PSU Control - Jeedom</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.sensingMethod() === "PLUGIN" && settings.plugins.psucontrol.sensingPlugin() === "psucontrol_jeedom") -->
    <span class="help-block label label-important">Please set the sensing method to <b>PLUGIN</b> and the sensing plugin to <b>PSU Control - Jeedom</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<form class="form-horizontal">
    <h4>PSU Control - Jeedom settings</h4>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_jeedom.address">
            <span class="help-block">The IP address, hostname or URL of your Jeedom server. e.g. http://ip:port, http://hostname:port or https://octo.domain.ext. Do not include a trailing slash /</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">API key</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_jeedom.api_key">
            <span class="help-block">The API key generated by Jeedom. See <a href="https://github.com/TexGG/OctoPrint-PSUControl-Jeedom#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">"On" CMD ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_jeedom.on_cmd_id">
            <span class="help-block">The ID of the command used to turn on the device you would like to control. Can be anything supporting the call through API, but a switch would make the most sense.</span>
        </div>
        <label class="control-label">"Off" CMD ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_jeedom.off_cmd_id">
            <span class="help-block">The ID of the command used to turn off the device you would like to control. Can be anything supporting the call through API, but a switch would make the most sense.</span>
        </div>
        <label class="control-label">"Status" CMD ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_jeedom.status_cmd_id">
            <span class="help-block">The ID of the command used to return the status of the device you would like to control. Can be anything supporting the call through API, but a switch would make the most sense.</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_jeedom.verify_certificate"> Verify certificate
            </label>
            <!-- ko if: settings.plugins.psucontrol_jeedom.verify_certificate -->
            <span class="help-block">Verify TLS certificate and do not connect on certificate issues.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.psucontrol_jeedom.verify_certificate -->
            <span class="help-block">Do not verify TLS certificate.</span>
            <!-- /ko -->
        </div>
    </div>
</form>
